/* You can add global styles to this file, and also import other style files */
.height{
    height: 500px;
}
.loading {
    position: fixed;
    width: 100%;
    height: 50%;
    background: grey  url('./assets/gears.gif') center center no-repeat;
    opacity: .5;
}